<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Choosing subject + homepage </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section>
    <h1 align="center"> Online Flash Cards Project</h1>

    {% extends "base.html" %}

    {% block title %}About Us{% endblock %}

    {% block content %}

    <form action="" method="POST">

        <div align="center">
            <div align="center" class="border">
                <SELECT name="Topic_Id" class="col">
                    {% for j in choose_topiclist %}
                    <OPTION value={{j['Topic_Id']}}>{{j['Topic_name']}}</OPTION>
                    {% endfor %}
                </SELECT> <br><br><br>
                <input type="submit" class="btn" name="submit" value="submit"><br><br><br><br>
<!--                <input type="submit" class="tn" name="Create a Topic" value="Create a Topic">-->
            </div>
            </br></br>

        </div>

    </form>

    {% endblock %}
</section>

</body>
</html>